<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Karbun Coin</title>
	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" sizes="16x16" href="user_assets/img/favicon.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="user_assets/css/style.css">
	<link rel="stylesheet" href="user_assets/css/responsive.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>

<body class="active-preloader-ovh">

	<div class="preloader">
		<div class="spinner"></div>
	</div>



	<header class="header header-home-one">
		<nav class="navbar navbar-default header-navigation stricky">
			<div class="thm-container clearfix">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed bitmex-icon-menu" data-toggle="collapse"
						data-target=".main-navigation" aria-expanded="false"> </button>
					<a class="navbar-brand" href="index.html">
						<img src="user_assets/img/logo.png" style="height: 85px;">
					</a>
				</div>


				<div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">

					<ul class="nav navbar-nav navigation-box navbar-right">
						<li><a href="#about">About Karbun</a> </li>
						<!--  <li><a href="#news">Karbun Partners</a> </li> -->
						<li><a href="assets\Karbun-Coin-Whitepaper.pdf" target="_blank">Whitepaper</a> </li>
						<li> <a href="#roadmap">Roadmap</a> </li>
						<li><a href="#our-experts">Team </a></li>
						<li> <a href="#contact-us">Contact Karbun</a> </li>
						<a href="javascript:void(0)" onclick="getAccount()">
							<img src="user_assets/img/meta-icon.png" width="70">
						</a>
					</ul>
				</div><!-- /.navbar-collapse -->

			</div><!-- /.container -->
		</nav>
	</header><!-- /.header -->


	<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one" data-ride="carousel">
		<div id="particles-js"></div><!-- /#particles-js -->           
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			 <div class="item active slide-1">
				<div class="carousel-caption">
					<div class="thm-container">
						<div class="box valign-middle">
								
								<div class="content ">
										
	
										<img data-animation="animated fadeInUp" class="logo-tree-img" src="user_assets/img/logo-04.png">
										<h3 data-animation="animated fadeInUp">Karbun Bioshpere</h3>
	
										<h4 data-animation="animated fadeInUp" class="orange-text">“Saving your Tomorrow, starting from Today”</h4>
										<p data-animation="animated fadeInDown">New Generation of Carbon Credit Trading via Digital Ledger Accounting and Payment Solution for pre-eminent Global emission controls.</p>
										<a href="/buy-coin" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
								   
							</div>
						   
						</div>
					</div>
				</div>                
			</div>
			<div class="item slide-2">
				
				<div class="carousel-caption">
					<div class="thm-container">
						<div class="box valign-middle">
							<div class="content ">
								<img data-animation="animated fadeInUp" class="logo-tree-img" src="user_assets/img/logo-04.png">
								<h3 data-animation="animated fadeInUp">Earn With Karbun Coin (KRBN)</h3>
								<p data-animation="animated fadeInDown">You can earn more with this crypto coin of Karbun Coin as it provides investors with a huge chance to buy/bid.</p>
								<a href="/buy-coin" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>                
			</div>
		  <!--   <div class="item slide-3">
				
				<div class="carousel-caption">
					<div class="thm-container">
						<div class="box valign-middle">
							<div class="content ">
								<img data-animation="animated fadeInUp" class="logo-tree-img" src="img/logo-04.png">
								<h3 data-animation="animated fadeInUp">Coins Are Safe In Your Wallet </h3>
								<p data-animation="animated fadeInDown">With the use of advanced blockchain technology, the coins offered by Carbon Coin will be kept safely in your wallet.</p>
								<a href="#" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>                
			</div>
	
			  <div class="item slide-4">
				
				<div class="carousel-caption">
					<div class="thm-container">
						<div class="box valign-middle">
							<div class="content ">
								<img data-animation="animated fadeInUp" class="logo-tree-img" src="img/logo-04.png">
								<h3 data-animation="animated fadeInUp">Coin Ownership</h3>
								<p data-animation="animated fadeInDown">Join the crypto-world with Carbon Coin ICO. Get the ownership of IDLL coins to buy, bid & trade.</p>
								<a href="#" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>                
			</div>
			<div class="item slide-5">
				
				<div class="carousel-caption">
					<div class="thm-container">
						<div class="box valign-middle">
							<div class="content ">
								<img data-animation="animated fadeInUp" class="logo-tree-img" src="img/logo-04.png">
								<h3 data-animation="animated fadeInUp">Download A Wallet</h3>
								<p data-animation="animated fadeInDown">Manage your cryptocurrency with an easy-to-use wallet. Start earning with Imperial Dollar by downloading a crypto wallet. </p>
								<a href="#" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>                
			</div>
			 <div class="item slide-6">
				
				<div class="carousel-caption">
					<div class="thm-container">
						<div class="box valign-middle">
							<div class="content ">
								<img data-animation="animated fadeInUp" class="logo-tree-img" src="img/logo-04.png">
								<h3 data-animation="animated fadeInUp">Use Karbun Coin</h3>
								<p data-animation="animated fadeInDown">After earning coins, you can use your coin ownership for trading, buying, selling, or exchanging with others.</p>
								<a href="#" class="thm-btn" data-animation="animated fadeInDown">Get Started</a>
							</div>
						</div>
					</div>
				</div>                
			</div> -->
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
			<i class="fa fa-angle-left"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
			<i class="fa fa-angle-right"></i>
			<span class="sr-only">Next</span>
		</a>
	
		<ul class="carousel-indicators list-inline custom-navigation">
			<li data-target="#minimal-bootstrap-carousel" data-slide-to="0" class="active"></li><!--
			--><li data-target="#minimal-bootstrap-carousel" data-slide-to="1"></li>
		</ul>
	</div>

	<section class="feature-style-one sec-pad text-center video-sec-second">
		<div class="thm-container">
			<div class="row for-flex-row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4>Citizens of Earth are living on borrowed time. The age for "dialogue" is long-past. We are at a critical point for ACTION now!</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<iframe width="100%" height="380" src="https://www.youtube.com/embed/Fu3MIwF-LJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			
		</div><!-- /.thm-container -->
	</section><!-- /.feature-style-one -->


	<section class="sec-market sec-pad">
		<div class="thm-container">
			<div class="sec-title text-center">
				<span>For the World</span>
				<h3>Current Carbon Market Challenges</h3>
			</div><!-- /.sec-title text-center -->
			<div class="row">
				<div class="col-md-12">
				  <div class="white-box">
					<div class="img-box">
					  <img src="user_assets/img/BG@2x.png">
					</div>
					<div class="row">
					  <div class="col-md-10 col-md-offset-1">
						   <div class="row feature-slider">
							  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
								  <div class="text-center">
									  <img src="user_assets/img/chalange1.jpg">
									  <div class="title">Lack of comprehensive emission controls</div>
								  </div>
							  </div>
							  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
								  <div class="text-center">
									  <img src="user_assets/img/chalange2.jpg">
									  <div class="title">Heavy dependency on offset measures</div>
								  </div>
							  </div>
							  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
								  <div class="text-center">
									  <img src="user_assets/img/chalange3.jpg">
									  <div class="title">Inconsistent carbon credit valuations</div>
								  </div>
							  </div>
							  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
								  <div class="text-center">
									  <img src="user_assets/img/chalange4.jpg">
									  <div class="title">Incapable of universal adaptability</div>
								  </div>
							  </div>
						  
						  </div>
					  </div>
				  </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	



	<section class="about-style-one gray-bg sec-pad page-section" id="about">
		<div class="thm-container">
			<div class="row">
				<div class="col-md-6">
					<div class="about-style-one-content">
						<span class="color-white">Learn about us</span>
						<h3 class="color-white">Karbun Platform</h3>
						<p class="color-white">Karbun is a new-age all-encompassing Distributed Ledger Climate Accounting and Payment Platform that unifies all Environmental stakeholders including- Governments,Energy Trading platforms, Corporates, Investors and Citizens for a consolidated approach towards tackling Climate Control endeavours with a special focus on Carbon market unification for achieving worldwide Carbon neutrality.</p>
	
						<a href="/buy-coin" class="thm-btn yellow-bg-hvr">Get Started</a>
					</div><!-- /.about-style-one-content -->
				</div><!-- /.col-md-6 -->
				<div class="col-md-6">
					<img src="user_assets/img/about-moc-1.png" alt="" class="moc-img" />
				</div><!-- /.col-md-6 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</section><!-- /.about-style-one -->
	
	
	<section class="fun-fact-style-one dark-bg sec-pad">
		<div class="thm-container">
			<div class="sec-title text-center">
				<h3 class="color-white mb-3">Karbun Partners</h3>
			</div><!-- /.sec-title text-center -->
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="single-fun-fact-style-one text-center">
						<img src="user_assets/img/feature1.png">
					</div><!-- /.single-fun-fact-style-one text-center -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="single-fun-fact-style-one text-center">
						<img src="user_assets/img/feature2.png">
					</div><!-- /.single-fun-fact-style-one text-center -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="single-fun-fact-style-one text-center">
						<img src="user_assets/img/feature3.png">
					</div><!-- /.single-fun-fact-style-one text-center -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="single-fun-fact-style-one text-center">
						<img src="user_assets/img/feature4.png">
					</div><!-- /.single-fun-fact-style-one text-center -->
				</div><!-- /.col-md-3 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</section><!-- /.fun-fact-style-one -->
	

	<section class="sec-pad blog-style-one page-section" id="news">
		<div class="thm-container">
			<div class="sec-title text-center">
				<span>updates from blog</span>
				<h3>Latest News</h3>
			</div><!-- /.sec-title text-center -->
			<div class="row masonary-layout">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-blog-style-one">
						<div class="img-box">
							<img src="user_assets/img/blog-1-1.jpg" alt="Awesome Image"/>
							<a href="#" class="read-more">+</a>
						</div><!-- /.img-box -->
						<div class="text-box">
							<div class="meta-info">
								<a href="#"><i class="fa fa-user"></i> by admin</a>
								<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div><!-- /.meta-info -->
							<a href="#"><h3>Calculating Karbuns <br /> mining profitability</h3></a>
						</div><!-- /.text-box -->
					</div><!-- /.single-blog-style-one -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-blog-style-one">
						<div class="img-box">
							<img src="user_assets/img/blog-1-2.jpg" alt="Awesome Image"/>
							<a href="#" class="read-more">+</a>
						</div><!-- /.img-box -->
						<div class="text-box">
							<div class="meta-info">
								<a href="#"><i class="fa fa-user"></i> by admin</a>
								<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div><!-- /.meta-info -->
							<a href="#"><h3>Learn what is Karbun <br /> mining pool?</h3></a>
						</div><!-- /.text-box -->
					</div><!-- /.single-blog-style-one -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-blog-style-one">
						<div class="img-box">
							<img src="user_assets/img/blog-1-3.jpg" alt="Awesome Image"/>
							<a href="#" class="read-more">+</a>
						</div><!-- /.img-box -->
						<div class="text-box">
							<div class="meta-info">
								<a href="#"><i class="fa fa-user"></i> by admin</a>
								<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div><!-- /.meta-info -->
							<a href="/buy-coin"><h3>How to get started with <br /> Karbun</h3></a>
						</div><!-- /.text-box -->
					</div><!-- /.single-blog-style-one -->
				</div><!-- /.col-md-3 -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="single-blog-style-one">
						<div class="img-box">
							<img src="user_assets/img/blog-1-4.jpg" alt="Awesome Image"/>
							<a href="#" class="read-more">+</a>
						</div><!-- /.img-box -->
						<div class="text-box">
							<div class="meta-info">
								<a href="#"><i class="fa fa-user"></i> by admin</a>
								<a href="#"><i class="fa fa-comments"></i> 3 Comments</a>
							</div><!-- /.meta-info -->
							<a href=".public\assets\Karbun-Coin-Whitepaper.pdf"><h3>Karbun whitepaper: A <br /> beginner’s guide</h3></a>
						</div><!-- /.text-box -->
					</div><!-- /.single-blog-style-one -->
				</div><!-- /.col-md-3 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</section><!-- /.sec-pad blog-style-one -->
	
	<section class="btc-calculator sec-pad page-section" id="Calculator">
		<div class="thm-container">
			<div class="sec-title text-center black">
				<span>Karbun currency</span>
				<h3>Start Investing In Karbun Coin</h3>
				<p>Consider your investments in Karbun Coin (KRBN) to join the most amazing world of cryptocurrency and dig out the associated highest returns.</p>
			</div><!-- /.sec-title -->
			<form action="#" class="btc-calc-form row">
				<div class="col-md-3">
					<input type="text" placeholder="enter amount" />
				</div><!-- /.col-md-3 -->
				<div class="col-md-3">
					<select class="selectpicker">
						<option value="#">Karbund ( BTC )</option>
						<option value="#">Karbund ( BTC )</option>
						<option value="#">Karbund ( BTC )</option>
						<option value="#">Karbund ( BTC )</option>
						<option value="#">Karbund ( BTC )</option>
						<option value="#">Karbund ( BTC )</option>
					</select>
				</div><!-- /.col-md-3 -->
				<div class="col-md-3">
					<input type="text" placeholder="enter amount" />
				</div><!-- /.col-md-3 -->
				<div class="col-md-3">
					<select class="selectpicker">
						<option value="#">US Dollars</option>
						<option value="#">US Dollars</option>
						<option value="#">US Dollars</option>
						<option value="#">US Dollars</option>
						<option value="#">US Dollars</option>
						<option value="#">US Dollars</option>
					</select>
				</div><!-- /.col-md-3 -->
			</form><!-- /.btc-calc-form -->
		</div><!-- /.thm-container -->
	</section><!-- /.btc-calculator -->
	
	
	
	
	<section class="how-it-works sec-pad page-section" id="how-it-works">
		<div class="thm-container">
			<div class="sec-title text-center">
				<span>check our process</span>
				<h3>How Karbun Works</h3>
			</div><!-- /.sec-title text-center -->
			<p>In this project, different stakeholders involved are “Generators” of carbon credit (i.e., wind farms, tree-planting operations, CO2 sequestration projects, etc.) and “Consumers” of carbon credit (i.e., carbon emitters or polluters of any kind such as the energy industry) as well as other stakeholders such as regulators, concerned citizens, and validators. “Validators” are an essential part of this ecosystem. They are accredited, globally distributed, technically competent consultants who are incentivized to parameterize appropriately and onboard projects to an open architecture marketplace that matches interested parties generating and retiring carbon credits.
			</p> 
			<div class="img-box">
				<img src="user_assets/img/how-it-works.jpg">			
			</div>
			<p>We will onboard Karbun to the platform as a stable coin at 18$ which is 1 Tonne of Carbon credits currently in the US. Karbun will be  distributed to carbon credit generators after proper validation of their projects. Buyers and sellers of Karbun will use a decentralized exchange platform (DeX) that will be created within the Karbun Ecosystem.  This Dex will be utilized to swap Karbun against Eth/Btc/BnB/ZKT. The liquidity providers in the Exchange platform will be earning 0.25% of the transaction fees and 0.05% of the fees will go to the platform wallet.<br>

				The emitters will buy NFT based certificates (approved by Generator and Government validator) against Karbun Coin. The generator will receive this Karbun coin and the platform will deduct a transaction charge for enabling the transaction. The generator can swap the Karbun Coin anytime at the Decentralized Exchange discussed above.</p>
				
		</div>
	</section><!-- /.how-it-works -->
	
	
	<section class="roadmap-sec sec-pad page-section" id="roadmap">
		<div class="thm-container">
			<div class="sec-title text-center">
				<span class="orange-text">Timeline</span>
				<h3 class="color-white">Roadmap</h3>
			</div><!-- /.sec-title text-center -->
			<div class="row">
				<div class="col-md-12">
					<img src="user_assets/img/roadmap.jpg">
				</div><!-- /.col-md-4 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</section><!-- /.how-it-works -->
	
	
	
	<section class="team-style-one sec-pad page-section" id="our-experts">
		<div class="thm-container">
			<div class="sec-title text-center">
				<span>Meet our Team</span>
				<h3>Karbun Bioshpere Experts</h3>
			</div><!-- /.sec-title text-center -->
			<div class="row">
				<div class="col-md-12">
					 <div class="slider-banner team-slider">
						 
						<div class="item">
							<div class="single-team-style-one hvr-float-shadow">
								<div class="img-box">
									<img src="user_assets/img/John.jpg" alt="Awesome Image"/>
								</div><!-- /.img-box -->
								<div class="text-box text-center">
									<h3>Mr. John Sajadi</h3>
									<span>Founder</span>
									<p>Mr. John Sajadi is a highly distinguished IT specialist with more than 20 years
									of extensive expertise up his sleeve ranging from Software Development life
									cycle..</p>
									<div class="social">
										<a href="#" class="fa fa-twitter"></a><!--
										--><a href="#" class="fa fa-facebook"></a><!--
										--><a href="#" class="fa fa-youtube-play"></a><!--
										--><a href="#" class="fa fa-pinterest"></a>
									</div><!-- /.social -->
								</div><!-- /.text-box -->
							</div><!-- /.single-team-style-one -->
						</div>
						 <div class="item">
							<div class="single-team-style-one hvr-float-shadow">
								<div class="img-box">
									<img src="user_assets/img/Steve.jpg" alt="Awesome Image"/>
								</div><!-- /.img-box -->
								<div class="text-box text-center">
									<h3>Mr. Steve Dew </h3>
									<span>Karbun Commercial Operations</span>
									<p>Mr. Dew is firmly of the belief that our future generations will look back at this moment in time and be grateful for the actions we take today...</p>
									<div class="social">
										<a href="#" class="fa fa-twitter"></a><!--
										--><a href="#" class="fa fa-facebook"></a><!--
										--><a href="#" class="fa fa-youtube-play"></a><!--
										--><a href="#" class="fa fa-pinterest"></a>
									</div><!-- /.social -->
								</div><!-- /.text-box -->
							</div><!-- /.single-team-style-one -->
						</div>
						  <div class="item">
							<div class="single-team-style-one hvr-float-shadow">
								<div class="img-box">
									<img src="user_assets/img/David.jpg" alt="Awesome Image"/>
								</div><!-- /.img-box -->
								<div class="text-box text-center">
									<h3>Mr. David Charles Evans </h3>
									<span>Director-Marketing</span>
									<p>David Evans is responsible for managing New Forests Timber
									Products, which was established to bring marketing services to
									New Forests...</p>
									<div class="social">
										<a href="#" class="fa fa-twitter"></a><!--
										--><a href="#" class="fa fa-facebook"></a><!--
										--><a href="#" class="fa fa-youtube-play"></a><!--
										--><a href="#" class="fa fa-pinterest"></a>
									</div><!-- /.social -->
								</div><!-- /.text-box -->
							</div><!-- /.single-team-style-one -->
						</div>
						<div class="item">
							<div class="single-team-style-one hvr-float-shadow">
								<div class="img-box">
									<img src="user_assets/img/alok.png" alt="Awesome Image"/>
								</div><!-- /.img-box -->
								<div class="text-box text-center">
									<h3>Mr. Alok Agrawal</h3>
									<span>CTO</span>
									<p>Alok Agrawal has over 15 years of Experience in Software Technology. He has won numerous accolades and honors in his career for his service in the industry...</p>
									<div class="social">
										<a href="#" class="fa fa-twitter"></a><!--
										--><a href="#" class="fa fa-facebook"></a><!--
										--><a href="#" class="fa fa-youtube-play"></a><!--
										--><a href="#" class="fa fa-pinterest"></a>
									</div><!-- /.social -->
								</div><!-- /.text-box -->
							</div><!-- /.single-team-style-one -->
						</div>
					   
						<div class="item">
							<div class="single-team-style-one hvr-float-shadow">
								<div class="img-box">
									<img src="user_assets/img/nikesh.jpg" alt="Awesome Image"/>
								</div><!-- /.img-box -->
								<div class="text-box text-center">
									<h3>Mr. Nikesh Lalchandani</h3>
									<span>IT & Finance Head</span>
									<p>Nikesh Lalchandani has rich experience of over 11 years in the
									Commonwealth Bank of Australia as Head of Payments Architec -
									ture..</p>
									<div class="social">
										<a href="#" class="fa fa-twitter"></a><!--
										--><a href="#" class="fa fa-facebook"></a><!--
										--><a href="#" class="fa fa-youtube-play"></a><!--
										--><a href="#" class="fa fa-pinterest"></a>
									</div><!-- /.social -->
								</div><!-- /.text-box -->
							</div><!-- /.single-team-style-one -->
						</div>
					   
						
						<div class="item">
							<div class="single-team-style-one hvr-float-shadow">
								<div class="img-box">
									<img src="user_assets/img/wouter.png" alt="Awesome Image"/>
								</div><!-- /.img-box -->
								<div class="text-box text-center">
									<h3>Mr. Wouter Raasveldt</h3>
									<span>-</span>
									<p>Mr. Wouter Raasveldt is a firm believer that we are in essence benevolent people who are environmentally
										conscience and are truly concerned about taking care of the Earth.</p>
									<div class="social">
										<a href="#" class="fa fa-twitter"></a><!--
										--><a href="#" class="fa fa-facebook"></a><!--
										--><a href="#" class="fa fa-youtube-play"></a><!--
										--><a href="#" class="fa fa-pinterest"></a>
									</div><!-- /.social -->
								</div><!-- /.text-box -->
							</div><!-- /.single-team-style-one -->
						</div>
					</div>
				</div>
			</div>
			
		</div><!-- /.thm-container -->
	</section><!-- /.team-style-one sec-pad -->
	
	<div class="footer-top page-section" id="contact-us">
		<div class="thm-container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="single-footer-top add-box">
						<div>
							<p><i class="bitmex-icon-envelope"></i><span>Email: </span>info@karbuncoins.com</p>
							<br>
							<p><i class="bitmex-icon-phone-call"></i><span>Call: </span>0000 0000 000</p>
							<br>
							<p><i class="bitmex-icon-placeholder"></i><span>Web: </span>www.karbuncoins.com</p>
						</div>
					</div><!-- /.single-footer-top -->
				</div><!-- /.col-md-4 -->
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="single-footer-top border-orange">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d831324.5940898339!2d148.51968047234237!3d-35.52005848272448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b164cdfa09b104b%3A0xe75844385c6e7803!2sAustralian%20Capital%20Territory%2C%20Australia!5e0!3m2!1sen!2sin!4v1637069130263!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div><!-- /.single-footer-top -->
				</div><!-- /.col-md-4 -->
				
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</div><!-- /.footer-top -->
	
	<footer class="site-footer">
		<div class="thm-container">
			<div class="row masonary-layout">
				<div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
					<div class="single-footer-widget text-center">
						<div class="title">
							<h3>Subscribe our Newsletter</h3>
						</div><!-- /.title -->
						<form action="inc/mailchimp/subscribe.php" class="subscribe-form">
							<input type="text" placeholder="Email Address" />
							<button type="submit" class="fa fa-telegram" style="font-size: 20px;"></button>
						</form><!-- /.subscribe-form -->
						<ul class="links-list">
							
							<li><a href="#about">About Karbun</a> </li>
							<!-- <li><a href="#about">Partners</a> </li> -->
						<li><a href="#our-experts">Team </a></li>
						<li> <a href="#contact-us">Contact Us</a> </li>
						</ul>
					</div><!-- /.single-footer-widget -->
				</div><!-- /.col-md-3 -->
			</div><!-- /.row -->
		</div><!-- /.thm-container -->
	</footer><!-- /.site-footer -->
	
	<div class="footer-bottom">
		<div class="thm-container clearfix">
			<div class="pull-left copy-text">
				<p>&copy; 2021 Karbuncoin.com All copy rights are reserved.</p>
			</div><!-- /.pull-left copy-text -->
			<div class="social pull-right">
				<a href="#" class="fa fa-twitter"></a><!--
				--><a href="#" class="fa fa-facebook"></a><!--
				--><a href="#" class="fa fa-youtube-play"></a><!--
				--><a href="#" class="fa fa-pinterest"></a>
			</div><!-- /.social -->
		</div><!-- /.thm-container -->
	</div><!-- /.footer-bottom -->
	
	
	
	<section class="hidden-sidebar side-navigation">
		<a href="#" class="close-button side-navigation-close-btn fa fa-times"></a><!-- /.close-button -->
		<div class="sidebar-content">
			
			<div class="social">
				<a href="#" class="fa fa-twitter"></a><!--
				--><a href="#" class="fa fa-facebook"></a><!--
				--><a href="#" class="fa fa-youtube-play"></a><!--
				--><a href="#" class="fa fa-pinterest"></a>
			</div><!-- /.social -->
		</div><!-- /.sidebar-content -->
	</section><!-- /.hidden-sidebar -->
	
	
	<div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div>                    
	
	<script src="user_assets/js/jquery.js"></script>

	<script src="user_assets/js/bootstrap.min.js"></script>
	<script src="user_assets/js/bootstrap-select.min.js"></script>
	<script src="user_assets/js/jquery.validate.min.js"></script>
	<script src="user_assets/js/owl.carousel.min.js"></script>
	<script src="user_assets/js/isotope.js"></script>
	<script src="user_assets/js/jquery.magnific-popup.min.js"></script>
	<script src="user_assets/js/waypoints.min.js"></script>
	<script src="user_assets/js/jquery.counterup.min.js"></script>
	<script src="user_assets/js/wow.min.js"></script>
	<script src="user_assets/js/jquery.easing.min.js"></script>
	<script src="user_assets/js/particles.min.js"></script>
	<script src="user_assets/js/particles-config.js"></script>
	<script src="user_assets/js/Chart.min.js"></script>
	<script src="user_assets/js/chart-config.js"></script>
	<script src="user_assets/js/custom.js"></script>

	<script>
		$(document).ready(function () {
			$('ul.navigation-box li a').click(function () {
				$('ul.navigation-box li a').removeClass("active");
				$(this).addClass("active");
			});
		});
	</script>


	<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
	<script>
		$('.slider-banner').slick({
			dots: false,
			infinite: true,
			speed: 500,
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 3000,
			arrows: true,
			responsive: [{
				breakpoint: 1024,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					arrows: false
				}
			},
			{
				breakpoint: 992,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					arrows: false
				}
			},
			{
				breakpoint: 768,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: false
				}
			}]
		});
	</script>
	
	<script>
		
			async function getAccount() {
				accountsLocal = await ethereum.request({
					method: 'eth_requestAccounts'
				});
				accounts = accountsLocal[0];
				$(".hidden_address").val(accounts);
				return accounts;
			}
		
	</script>



</body>

</html>

