<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karbun Coin</title>
</head>

<body>
    <iframe title="Emissions Impact Dashboard - Dashboard" width="100%" height="800" src="https://app.powerbi.com/reportEmbed?reportId=5cee988c-6357-47df-9585-916bd4e05479&appId=9c3c363b-fc4b-484f-97e4-70ec84ff9da7&autoAuth=true&ctid=77e65c3f-6e01-4df6-9775-7e22c58226f1&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</body>

</html>