<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Karbun Coin ICO</title>
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" type="image/png" sizes="16x16" href="user_assets/img/favicon.png" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="user_assets/css/style.css" />
  <link rel="stylesheet" href="user_assets/css/responsive.css" />
  <style>
    .dashboard-box {
      min-height: 300px;
      background-color:#0f3923;
      color:white;
      /* box-shadow: 2px 2px 10px rgb(0 0 0 / 20%); */
      /* display: flex; */
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 30px;
  }
  
  </style>
  </head>
  <body class="active-preloader-ovh">
  <header class="header header-home-one">
    <nav class="navbar navbar-default header-navigation stricky">
      <div class="thm-container clearfix">
        <div class="navbar-header">
          <a
            href="javascript:void(0);"
            onclick="BuyEth()"
            style="display: none"
            class="for-mobile-show metamask-link">
           <img
              src="user_assets/img/meta-icon.png"
              style="height: 35px; width: auto"/>
             <small style="font-size: 12px; font-weight: 400"
              >Connect wallet</small>
          </a>
          <button
            type="button"
            class="navbar-toggle collapsed bitmex-icon-menu"
            data-toggle="collapse"
            data-target=".main-navigation"
            aria-expanded="false"></button>
          <a class="navbar-brand" href="">
            <img src="user_assets/img/logo.png" style="height: 80px" />
          </a>
        </div>

        <div
          class="collapse navbar-collapse main-navigation mainmenu"
          id="main-nav-bar"  >
          <ul class="nav navbar-nav navigation-box navbar-right">
            <li><a href="/#about">About Karbun</a></li>
            <!--  <li><a href="#news">Karbun Partners</a> </li> -->
            <li>
              <a
                href="#"
                data-toggle="modal"
                data-target="#whitepaperModal"
                style="font-size: 16px"
              >
                Whitepaper</a
              >
            </li>
            <li><a href="/#login">Login </a></li>
            <li><a href="/#our-experts">Team </a></li>
            <li><a href="/#roadmap">Roadmap</a></li>

            <li><a href="/#contact-us">Contact Karbun</a></li>

            <li class="text/css">
              <button id="google_translate_element"></button>

              <div id="google_translate_element"></div>
              <script>
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement(
                    {
                      pageLanguage: "en",
                      autoDisplay: "true",
                      layout:
                        google.translate.TranslateElement.InlineLayout
                          .HORIZONTAL,
                    },
                    "google_translate_element"
                  );
                }
              </script>
              <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

              <style type="text/css">
                /*google translate Dropdown */

                #google_translate_element select {
                  background: #1a874e !important;
                  color: #fff;
                  padding: 8px 10px;
                  border: none;
                  border-radius: 3px;
                  height: auto !important;
                }

                /*google translate link | logo */
                .goog-logo-link {
                  display: none !important;
                }
                .goog-te-gadget {
                  color: transparent !important;
                }

                /* google translate banner-frame */

                .goog-te-banner-frame {
                  display: none !important;
                }

                .skiptranslate.goog-te-gadget > div {
                  display: block !important;
                  width: 100% !important;
                }
                .goog-te-gadget {
                  font-family: arial;
                  font-size: 11px;
                  color: #666;
                  white-space: nowrap;
                  max-height: 32px;
                }
              </style>
            </li>
            <!-- <li class="xs-hide metamask-outer">
              <a class="metamask-link" href="javascript:void(0);" onclick="BuyEth()">
                <img
                  src="user_assets/img/meta-icon.png"
                  style="height: 35px; width: auto"
                />
                <small style="font-size: 12px; font-weight: 400"
                  >Connect wallet</small
                >
              </a>
            </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header>
  
  <div class="heading-row mb-20">
    <div class="row align-item-center">
       <div class="col-lg-6">
          <h3 class="page-header"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-account"></i></span> Profile Info </h3>
       </div>
  </div>
  </div>
  
  
  <section class="dash-inner-sec">
      <div class="row">
        <div class="thm-container">
               <div class="col-lg-12 col-md-12 m-auto">
                  <div class="mb-3">
                    <ul class="nav nav-tabs profile-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="" role="tab" aria-controls="home" aria-selected="true">User Info</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#info2" role="tab" aria-controls="profile" aria-selected="false">Password</a>
                      </li> -->
                      
                    </ul>
                    
                  </div>
                  
                  <div class="tab-content" id="myTabContent">
                      <div class="" id="" role="tabpanel" aria-labelledby="home-tab">
                       
                      <!-- <span class="success_validate flash_msg" style="color:green"></span>
                     
                      <span class="error_validate flash_msg" style="color:red"></span> -->
                  
                      <form method="POST" action="/updateFirm" id="">
                        <div class="dashboard-box">
                           <div class=" ">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group text-left">
                                    <label>Full Name</label>
                                     <input class="form-control" name="name" type="text" value=<%=user.firm_name%> >
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group text-left">
                                    <label>Email ID</label>
                                     <input class="form-control" type="email" name="email" placeholder="" readonly value=<%=user.email%> >
                                  </div>
                                </div>
                               
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                  <div class="form-group text-left">
                                    <label>Mobile Number</label>
                                     <input class="form-control" name="mob" type="text" placeholder="" value=<%=user.mobile%> >
                                  </div>
                                </div> 
                               
                            </div>
                              <div class="text-center mlti-btn mt-3">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="/#about" class="btn btn-success" >Cancel</a>
                               
                              </div> 
                           
                       </div>
                      </form>
                      </div>
                      
                      
                      <!-- <div class="tab-pane fade" id="info2" role="tabpanel" aria-labelledby="profile-tab">
                        <form method="POST" action="" id="password_form">
                        <div class="dashboard-box">
                          <div class="create-wallet-block profile-input-form">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group text-left">
                                    <label>Current Password</label>
                                                                        <input class="form-control" type="password" id="password" name="password" placeholder="Current Password" data-rule-minlength="5" data-rule-maxlength="75" data-rule-required="true"  data-msg-required="Please enter current password.">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group text-left">
                                    <label>New Password</label>
                                                              <input class="form-control" type="password" id="new_password" name="new_password" placeholder="New Password"  data-rule-minlength="5" data-rule-maxlength="75" data-rule-required="true"  data-msg-required="Please enter new password.">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group text-left">
                                     <label>Confirm Password</label>
                                                              <input class="form-control" type="password" id="confrm_password" name="confrm_password"  data-rule-equalto="#new_password" placeholder="confirm password" data-rule-minlength="5" data-rule-maxlength="75" data-rule-required="true"  data-msg-required="Please enter confirm new password." data-msg-equalto="Please enter the same value again.">
                                  </div>
                                </div>
                              </div>
  
                            <div class="text-center mlti-btn">
                                 <button type="submit" class="btn btn-common light-green">Save</button>
                               
                                  <a type="botton" href=""  class="btn btn-common light-green ml-0">Cancel</a>
                                
                                  <a type="botton" href=""  class="btn btn-common light-green ml-0">Cancel</a>
                                
                            </div>
                          </div>
                       </div>
                        
                      </div> -->
                    </div>
                   </form>
               </div>
          </div>
        </div>
  </section>
  
  </body>
  