<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Karbun Coin</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="user_assets/img/favicon.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="user_assets/css/style.css" />
    <link rel="stylesheet" href="user_assets/css/responsive.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      #google_translate_element {
        color: #fcbf10;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
      }
    </style>
    <style>
      input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}
    a {
    color: #0f3923;
    text-decoration: none;
   }
   </style>
    <style>
      /* Button used to open the chat form - fixed at the bottom of the page */
      .open-button {
        background-color: #388855;
        color: white !important;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        opacity: 1;
        position: fixed;
        bottom: 10px;
        right: 85px;
        max-width: 250px;
        border-radius: 10px;
        z-index: 9999999999999999999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        font-size: 18px;
        font-weight: 600;
        border: none !important;
        outline: none !important;
        /*animation: bounce 3s infinite;*/
        white-space: normal;
      }
      /*@keyframes bounce {
			  0%, 20%, 50%, 80%, 100% {
			    transform: translateY(0);
			  }
			  40% {
			    transform: translateY(-40px);
			  }
			  60% {
			    transform: translateY(-20px);
			  }
			}*/

      /* The popup chat - hidden by default */
      .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        /* 	border: 5px solid #000000; */
        border-radius: 5%;
        z-index: 9999999999999999999;
        color: white;
      }

      /* Add styles to the form container */
      
      .open-button:hover {
        opacity: 1;
      }
      .thm-btn.yellow-bg-hvr.submit-btn{
    color:black;
  }

	  .jYxAGf{
		  z-index:9999 !important;
	  }
    .btc-calculator:before {
    background: #388855;
}
.yellow-bg-hvr.submit-btn{
  min-width: 150px;
}
.btc-calc-form label {
    color: #fff;
    display: block;
    margin-bottom: 0;
    font-size: 20px;
}
.btc-calculator .thm-container .btc-calc-form input{
  margin-bottom: 20px;
  margin-top: 5px;
}
.btc-calculator .thm-container .btc-calc-form .bootstrap-select>.dropdown-toggle{
  margin-top: 5px;
}
.thm-btn.yellow-bg-hvr.submit-btn{
  background-color: #FCBF10!important;
}
    </style>

  </head>

  <body class="active-preloader-ovh" style="top: 0 !important">
    <div class="preloader">
      <div class="spinner"></div>
    </div>

    <header class="header header-home-one">
      <nav class="navbar navbar-default header-navigation stricky">
        <div class="thm-container clearfix">
          <div class="navbar-header">
            <a
              href="javascript:void(0);"
              onclick="BuyEth()"
              style="display: none"
              class="for-mobile-show metamask-link"
            >
             <img
                src="user_assets/img/meta-icon.png"
                style="height: 35px; width: auto"
              />
               <small style="font-size: 12px; font-weight: 400"
                >Connect wallet</small
              >
            </a>
            <button
              type="button"
              class="navbar-toggle collapsed bitmex-icon-menu"
              data-toggle="collapse"
              data-target=".main-navigation"
              aria-expanded="false"
            ></button>
            <a class="navbar-brand" href="/">
              <img src="user_assets/img/logo.png" style="height: 80px" />
            </a>
          </div>
  
          <div
            class="collapse navbar-collapse main-navigation mainmenu"
            id="main-nav-bar"
          >
            <ul class="nav navbar-nav navigation-box navbar-right">
              <li><a href="/#about">About Karbun</a></li>
              <!--  <li><a href="#news">Karbun Partners</a> </li> -->
              <li><a
                  href="#"
                  data-toggle="modal"
                  data-target="#whitepaperModal"
                  style="font-size: 16px" >Whitepaper</a>
              </li>
              <li><a href="/#login">Join </a></li>
              <li><a href="/#our-experts">Team </a></li>
              <li><a href="/#roadmap">Roadmap</a></li>
  
              <li><a href="/#contact-us">Contact Karbun</a></li>
              <li><a href="/terms">T&C</a></li>
              <li><a
                href="/emission-impact"
               
                style="font-size: 16px" >Emission Dashboard</a>
            </li>
  
              <li style="padding-top: 25px;padding-right:15px;" class="text/css">
                <button id="google_translate_element"></button>
  
                <div id="google_translate_element"></div>
                <script>
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement(
                      {
                        pageLanguage: "en",
                        autoDisplay: "true",
                        layout:
                          google.translate.TranslateElement.InlineLayout
                            .HORIZONTAL,
                      },
                      "google_translate_element"
                    );
                  }
                </script>
                <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
                <style type="text/css">
                  /*google translate Dropdown */
  
                  #google_translate_element select {
                    background: #1a874e !important;
                    color: #fff;
                    padding: 8px 10px;
                    border: none;
                    border-radius: 3px;
                    height: auto !important;
                  }
  
                  /*google translate link | logo */
                  .goog-logo-link {
                    display: none !important;
                  }
                  .goog-te-gadget {
                    color: transparent !important;
                  }
  
                  /* google translate banner-frame */
  
                  .goog-te-banner-frame {
                    display: none !important;
                  }
  
                  .skiptranslate.goog-te-gadget > div {
                    display: block !important;
                    width: 100% !important;
                  }
                  .goog-te-gadget {
                    font-family: arial;
                    font-size: 11px;
                    color: #666;
                    white-space: nowrap;
                    max-height: 32px;
                  }
                </style>
              </li>
              <li class="xs-hide metamask-outer">
                <a class="metamask-link" href="javascript:void(0);" onclick="enableMetaMask()">
                  <img
                    src="user_assets/img/meta-icon.png"
                    style="height: 35px; width: auto"
                  />
                  <small style="font-size: 12px; font-weight: 400"
                    >Connect wallet</small
                  >
                </a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>
    </header>
    <!-- /.header -->


    <section class="btc-calculator sec-pad page-section" id="Calculator">
  <div class="thm-container">
    <div class="sec-title text-center black">
      
      <h3>Registration Form</h3>
      <span>Please fill the form below with all fields mandatory:</span>
      <strong><%if(error!=null){%>
        <div style='color:firebrick;font-size: 20px;'><%=error%></div>
        <%}%>
      </strong>
    </div><!-- /.sec-title -->
    <form method="POST" action="/saveDecarbonCompany" class="btc-calc-form row">
      <div class="col-md-6">
        <label>Company Name*</label>
        <input type="text" name="companyName" placeholder="Company Name" required />
      </div><!-- /.col-md-3 -->
       <div class="col-md-6">
        <label>Company's License*</label>
        <input type="text" name="licence" placeholder="Company's License" required />
      </div><!-- /.col-md-3 -->
      <div class="col-md-6">
        <label>Email*</label>
        <input type="email" name="email" placeholder="Email Address" required />
      </div><!-- /.col-md-3 -->
      <div class="col-md-6">
        <label>Password*</label>
        <input type="password" name="pwd" placeholder="Password" required />
      </div><!-- /.col-md-3 -->
      <div class="col-md-6">
        <label>Confirm Password*</label>
        <input type="password" name="cnfpwd" placeholder="Confirm Password" required />
      </div><!-- /.col-md-3 -->
      <div class="col-md-6">
        <label>Contact No.*</label>
        <input type="number" maxlength="10" minlength="10" name="phone" placeholder="Number"  required/>
      </div><!-- /.col-md-3 -->
      <div class="col-md-6">
        <label>Country*</label>
        <!-- name="country" class="selectpicker" required -->
        <select  name="countries" class="selectpicker" required>
          <option value="AF">Afghanistan</option>
          <option value="AX">Åland Islands</option>
          <option value="AL">Albania</option>
          <option value="DZ">Algeria</option>
          <option value="AS">American Samoa</option>
          <option value="AD">Andorra</option>
          <option value="AO">Angola</option>
          <option value="AI">Anguilla</option>
          <option value="AQ">Antarctica</option>
          <option value="AG">Antigua and Barbuda</option>
          <option value="AR">Argentina</option>
          <option value="AM">Armenia</option>
          <option value="AW">Aruba</option>
          <option value="AU">Australia</option>
          <option value="AT">Austria</option>
          <option value="AZ">Azerbaijan</option>
          <option value="BS">Bahamas (the)</option>
          <option value="BH">Bahrain</option>
          <option value="BD">Bangladesh</option>
          <option value="BB">Barbados</option>
          <option value="BY">Belarus</option>
          <option value="BE">Belgium</option>
          <option value="BZ">Belize</option>
          <option value="BJ">Benin</option>
          <option value="BM">Bermuda</option>
          <option value="BT">Bhutan</option>
          <option value="BO">Bolivia (Plurinational State of)</option>
          <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
          <option value="BA">Bosnia and Herzegovina</option>
          <option value="BW">Botswana</option>
          <option value="BV">Bouvet Island</option>
          <option value="BR">Brazil</option>
          <option value="IO">British Indian Ocean Territory (the)</option>
          <option value="BN">Brunei Darussalam</option>
          <option value="BG">Bulgaria</option>
          <option value="BF">Burkina Faso</option>
          <option value="BI">Burundi</option>
          <option value="CV">Cabo Verde</option>
          <option value="KH">Cambodia</option>
          <option value="CM">Cameroon</option>
          <option value="CA">Canada</option>
          <option value="KY">Cayman Islands (the)</option>
          <option value="CF">Central African Republic (the)</option>
          <option value="TD">Chad</option>
          <option value="CL">Chile</option>
          <option value="CN">China</option>
          <option value="CX">Christmas Island</option>
          <option value="CC">Cocos (Keeling) Islands (the)</option>
          <option value="CO">Colombia</option>
          <option value="KM">Comoros (the)</option>
          <option value="CD">Congo (the Democratic Republic of the)</option>
          <option value="CG">Congo (the)</option>
          <option value="CK">Cook Islands (the)</option>
          <option value="CR">Costa Rica</option>
          <option value="HR">Croatia</option>
          <option value="CU">Cuba</option>
          <option value="CW">Curaçao</option>
          <option value="CY">Cyprus</option>
          <option value="CZ">Czechia</option>
          <option value="CI">Côte d'Ivoire</option>
          <option value="DK">Denmark</option>
          <option value="DJ">Djibouti</option>
          <option value="DM">Dominica</option>
          <option value="DO">Dominican Republic (the)</option>
          <option value="EC">Ecuador</option>
          <option value="EG">Egypt</option>
          <option value="SV">El Salvador</option>
          <option value="GQ">Equatorial Guinea</option>
          <option value="ER">Eritrea</option>
          <option value="EE">Estonia</option>
          <option value="SZ">Eswatini</option>
          <option value="ET">Ethiopia</option>
          <option value="FK">Falkland Islands (the) [Malvinas]</option>
          <option value="FO">Faroe Islands (the)</option>
          <option value="FJ">Fiji</option>
          <option value="FI">Finland</option>
          <option value="FR">France</option>
          <option value="GF">French Guiana</option>
          <option value="PF">French Polynesia</option>
          <option value="TF">French Southern Territories (the)</option>
          <option value="GA">Gabon</option>
          <option value="GM">Gambia (the)</option>
          <option value="GE">Georgia</option>
          <option value="DE">Germany</option>
          <option value="GH">Ghana</option>
          <option value="GI">Gibraltar</option>
          <option value="GR">Greece</option>
          <option value="GL">Greenland</option>
          <option value="GD">Grenada</option>
          <option value="GP">Guadeloupe</option>
          <option value="GU">Guam</option>
          <option value="GT">Guatemala</option>
          <option value="GG">Guernsey</option>
          <option value="GN">Guinea</option>
          <option value="GW">Guinea-Bissau</option>
          <option value="GY">Guyana</option>
          <option value="HT">Haiti</option>
          <option value="HM">Heard Island and McDonald Islands</option>
          <option value="VA">Holy See (the)</option>
          <option value="HN">Honduras</option>
          <option value="HK">Hong Kong</option>
          <option value="HU">Hungary</option>
          <option value="IS">Iceland</option>
          <option value="IN">India</option>
          <option value="ID">Indonesia</option>
          <option value="IR">Iran (Islamic Republic of)</option>
          <option value="IQ">Iraq</option>
          <option value="IE">Ireland</option>
          <option value="IM">Isle of Man</option>
          <option value="IL">Israel</option>
          <option value="IT">Italy</option>
          <option value="JM">Jamaica</option>
          <option value="JP">Japan</option>
          <option value="JE">Jersey</option>
          <option value="JO">Jordan</option>
          <option value="KZ">Kazakhstan</option>
          <option value="KE">Kenya</option>
          <option value="KI">Kiribati</option>
          <option value="KP">Korea (the Democratic People's Republic of)</option>
          <option value="KR">Korea (the Republic of)</option>
          <option value="KW">Kuwait</option>
          <option value="KG">Kyrgyzstan</option>
          <option value="LA">Lao People's Democratic Republic (the)</option>
          <option value="LV">Latvia</option>
          <option value="LB">Lebanon</option>
          <option value="LS">Lesotho</option>
          <option value="LR">Liberia</option>
          <option value="LY">Libya</option>
          <option value="LI">Liechtenstein</option>
          <option value="LT">Lithuania</option>
          <option value="LU">Luxembourg</option>
          <option value="MO">Macao</option>
          <option value="MG">Madagascar</option>
          <option value="MW">Malawi</option>
          <option value="MY">Malaysia</option>
          <option value="MV">Maldives</option>
          <option value="ML">Mali</option>
          <option value="MT">Malta</option>
          <option value="MH">Marshall Islands (the)</option>
          <option value="MQ">Martinique</option>
          <option value="MR">Mauritania</option>
          <option value="MU">Mauritius</option>
          <option value="YT">Mayotte</option>
          <option value="MX">Mexico</option>
          <option value="FM">Micronesia (Federated States of)</option>
          <option value="MD">Moldova (the Republic of)</option>
          <option value="MC">Monaco</option>
          <option value="MN">Mongolia</option>
          <option value="ME">Montenegro</option>
          <option value="MS">Montserrat</option>
          <option value="MA">Morocco</option>
          <option value="MZ">Mozambique</option>
          <option value="MM">Myanmar</option>
          <option value="NA">Namibia</option>
          <option value="NR">Nauru</option>
          <option value="NP">Nepal</option>
          <option value="NL">Netherlands (the)</option>
          <option value="NC">New Caledonia</option>
          <option value="NZ">New Zealand</option>
          <option value="NI">Nicaragua</option>
          <option value="NE">Niger (the)</option>
          <option value="NG">Nigeria</option>
          <option value="NU">Niue</option>
          <option value="NF">Norfolk Island</option>
          <option value="MP">Northern Mariana Islands (the)</option>
          <option value="NO">Norway</option>
          <option value="OM">Oman</option>
          <option value="PK">Pakistan</option>
          <option value="PW">Palau</option>
          <option value="PS">Palestine, State of</option>
          <option value="PA">Panama</option>
          <option value="PG">Papua New Guinea</option>
          <option value="PY">Paraguay</option>
          <option value="PE">Peru</option>
          <option value="PH">Philippines (the)</option>
          <option value="PN">Pitcairn</option>
          <option value="PL">Poland</option>
          <option value="PT">Portugal</option>
          <option value="PR">Puerto Rico</option>
          <option value="QA">Qatar</option>
          <option value="MK">Republic of North Macedonia</option>
          <option value="RO">Romania</option>
          <option value="RU">Russian Federation (the)</option>
          <option value="RW">Rwanda</option>
          <option value="RE">Réunion</option>
          <option value="BL">Saint Barthélemy</option>
          <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
          <option value="KN">Saint Kitts and Nevis</option>
          <option value="LC">Saint Lucia</option>
          <option value="MF">Saint Martin (French part)</option>
          <option value="PM">Saint Pierre and Miquelon</option>
          <option value="VC">Saint Vincent and the Grenadines</option>
          <option value="WS">Samoa</option>
          <option value="SM">San Marino</option>
          <option value="ST">Sao Tome and Principe</option>
          <option value="SA">Saudi Arabia</option>
          <option value="SN">Senegal</option>
          <option value="RS">Serbia</option>
          <option value="SC">Seychelles</option>
          <option value="SL">Sierra Leone</option>
          <option value="SG">Singapore</option>
          <option value="SX">Sint Maarten (Dutch part)</option>
          <option value="SK">Slovakia</option>
          <option value="SI">Slovenia</option>
          <option value="SB">Solomon Islands</option>
          <option value="SO">Somalia</option>
          <option value="ZA">South Africa</option>
          <option value="GS">South Georgia and the South Sandwich Islands</option>
          <option value="SS">South Sudan</option>
          <option value="ES">Spain</option>
          <option value="LK">Sri Lanka</option>
          <option value="SD">Sudan (the)</option>
          <option value="SR">Suriname</option>
          <option value="SJ">Svalbard and Jan Mayen</option>
          <option value="SE">Sweden</option>
          <option value="CH">Switzerland</option>
          <option value="SY">Syrian Arab Republic</option>
          <option value="TW">Taiwan (Province of China)</option>
          <option value="TJ">Tajikistan</option>
          <option value="TZ">Tanzania, United Republic of</option>
          <option value="TH">Thailand</option>
          <option value="TL">Timor-Leste</option>
          <option value="TG">Togo</option>
          <option value="TK">Tokelau</option>
          <option value="TO">Tonga</option>
          <option value="TT">Trinidad and Tobago</option>
          <option value="TN">Tunisia</option>
          <option value="TR">Turkey</option>
          <option value="TM">Turkmenistan</option>
          <option value="TC">Turks and Caicos Islands (the)</option>
          <option value="TV">Tuvalu</option>
          <option value="UG">Uganda</option>
          <option value="UA">Ukraine</option>
          <option value="AE">United Arab Emirates (the)</option>
          <option value="GB">United Kingdom of Great Britain and Northern Ireland (the)</option>
          <option value="UM">United States Minor Outlying Islands (the)</option>
          <option value="US">United States of America (the)</option>
          <option value="UY">Uruguay</option>
          <option value="UZ">Uzbekistan</option>
          <option value="VU">Vanuatu</option>
          <option value="VE">Venezuela (Bolivarian Republic of)</option>
          <option value="VN">Viet Nam</option>
          <option value="VG">Virgin Islands (British)</option>
          <option value="VI">Virgin Islands (U.S.)</option>
          <option value="WF">Wallis and Futuna</option>
          <option value="EH">Western Sahara</option>
          <option value="YE">Yemen</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>
        </select>
      </div><!-- /.col-md-3 -->
       <div class="col-md-6">
        <label>Quotation Per/Thousand Trees*</label>
        <input type="number" name="quotation" min="0" oninput="this.value = 
        !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"placeholder="Enter Value" required/>
      </div><!-- /.col-md-3 -->
       <div class="col-md-6">
        <label>Total Area of Land To Grow Trees*</label>
        <input type="number" name="totalArea" placeholder="Total Area" required />
      </div><!-- /.col-md-3 -->
       <div class="col-md-6">
        <label>Approx Tree Plantation Capacity*</label>
        <input type="number" name="approxCap" placeholder="Approx Capacity" required />
      </div><!-- /.col-md-3 -->
    

   
          
      <div  class="col-md-12 ">
         <input type="submit" class="thm-btn yellow-bg-hvr submit-btn"></input>
      </div>
     
   
    </form><!-- /.btc-calc-form -->
  </div><!-- /.thm-container -->
</section><!-- /.btc-calculator -->


<div class="footer-top page-section" id="contact-us">
  <div class="thm-container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="single-footer-top">
          <!-- <p>
            <i class="bitmex-icon-envelope"></i
            ><span>Email: </span>sales@karbun.io
          </p> -->
          <p> <i class="bitmex-icon-envelope"></i><a href="mailto:sales@karbun.io"> email:  sales@karbun.io</a></p>

        </div>
        <!-- /.single-footer-top -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="single-footer-top">
          <p>
            <i class="bitmex-icon-phone-call"></i
            ><span>Call: </span> +61415898818
          </p>
        </div>
        <!-- /.single-footer-top -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="single-footer-top">
          <p>
            <i class="bitmex-icon-placeholder"></i
            ><span>Web: </span>www.karbun.io
          </p>
        </div>
        <!-- /.single-footer-top -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.thm-container -->
</div>
<!-- /.footer-top -->

<div class="footer-bottom">
  <div class="thm-container clearfix">
    <div class="pull-left copy-text">
      <p>&copy;<span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>Karbun.io All rights reserved.</p>
    </div>
    <!-- /.pull-left copy-text -->
    <div class="social pull-right">
       <a href="https://web.telegram.org" target="_blank" class="fa fa-telegram"></a>

      <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
      <!--
    --><a href=" https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
      <!--
    --><a href=" https://in.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
   

    <a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a>
    </div>
    <!-- /.social -->
  </div>
  <!-- /.thm-container -->
</div>
<!-- /.footer-bottom -->




<section class="hidden-sidebar side-navigation">
  <a href="#" class="close-button side-navigation-close-btn fa fa-times"></a
  ><!-- /.close-button -->
  <div class="sidebar-content">
    <div class="social">
      <a href="#" class="fa fa-telegram"></a>

      <a href="#" class="fa fa-twitter"></a>
      <!--
    --><a href="#" class="fa fa-facebook"></a>
     <a href="#" class="fa fa-linkedin"></a>
     
    <a href="#" class="fa fa-instagram"></a>
    </div>
    <!-- /.social -->
  </div>
  <!-- /.sidebar-content -->
</section>
    <!-- /.hidden-sidebar -->

   

    <div class="scroll-to-top scroll-to-target" data-target="html">
      <i class="fa fa-angle-up"></i>
    </div>

    <script src="user_assets/js/jquery.js"></script>

    <script src="user_assets/js/bootstrap.min.js"></script>
    <script src="user_assets/js/bootstrap-select.min.js"></script>
    <script src="user_assets/js/jquery.validate.min.js"></script>
    <script src="user_assets/js/owl.carousel.min.js"></script>
    <script src="user_assets/js/isotope.js"></script>
    <script src="user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="user_assets/js/waypoints.min.js"></script>
    <script src="user_assets/js/jquery.counterup.min.js"></script>
    <script src="user_assets/js/wow.min.js"></script>
    <script src="user_assets/js/jquery.easing.min.js"></script>
    <script src="user_assets/js/particles.min.js"></script>
    <script src="user_assets/js/particles-config.js"></script>
    <script src="user_assets/js/Chart.min.js"></script>
    <script src="user_assets/js/chart-config.js"></script>
    <script src="user_assets/js/custom.js"></script>
    <script>
      if(success_msg!=null){
        alert(success_msg);
      }
    </script>
    <script>
      $(document).ready(function () {
        $("ul.navigation-box li a").click(function () {
          $("ul.navigation-box li a").removeClass("active");
          $(this).addClass("active");
        });
      });
      $(".navbar-collapse a").click(function () {
        $(".navbar-collapse").collapse("hide");
      });
    </script>

    <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

    
  </body>
</html>
