<%- include('header') -%>

<style type="text/css">
  
  
  .button {
  background-color:white;
  border: 1.5px solid white;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  transition-duration: 0.4s;
  }

.button:hover {
  background-color: #d4d125; /* Green */
  color: white;
}

.button:active {

  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  
  
  
  
  td {
    max-width: 150px !important;
    overflow: hidden !important
  }

  table, th, td {
  border: 1px solid white;
}
  
  .vl {
  border-left: 6px solid white;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

  .vl {
  border-left: 6px solid white ;
  height: 500px;
}

  .container {
    background-color: white;
    font-size: .12;
  }

  #example_wrapper .dataTables_filter {
    display: none !important;
  }
</style>
<div class="heading-row mb-20">
  <div class="row align-item-center">
     <div class="col-lg-6">
      <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-account"></i></span> Donate Transaction History </h3>
     </div>
</div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body table-responsive">
        <%if(err_msg !="" ){%>
          <span style="color: red; ">
            <%= err_msg%>
          </span>
          <%}%>
            <%if(success_msg !="" ){%>
              <span style="color: #099441; ">
                <%=success_msg%>
              </span>
              <%}%>
              <table class="table"> 
               <thead>
                <tr>
                  <!-- <th width="5%" class="border-top-0">S.No</th>
                  <th width="8%" class="border-top-0">Date</th>
                  <th width="20%" class="border-top-0">Transaction ID</th>
                  <th width="15%" class="border-top-0">Sender Address</th>
                  <th width="15%" class="border-top-0">Receiver Address</th>
                  <th width="5%" class="border-top-0">Status</th>
                  <th width="8%" class="border-top-0">Total CRBN</th>
                  <th width="10%" class="border-top-0">Created At</th> 
                    -->
                

                  <th width="3%">S. No.</th>
                  <th width="10%">Transaction Hash</th>
                  <th width="12%">User Wallet Address</th>
                  <th width="12%">Admin Wallet Address</th>
                  <!-- <th width="10%">Email</th> -->
                  <!-- <th width="10%">Gas Fee</th> -->
                  <th width="10%">Value</th>
                  <!-- <th width="10%">COINS</th> -->

                </tr>
            </thead>
            <tbody id="data">

            </tbody>
          </table> 

          

        </div>
      </div>
    </div>
  </div>

  <%- include('footer') -%>

  <script>
    fetch("https://api-ropsten.etherscan.io/api?module=account&action=txlist&address=0xF24a24Ab64a29edd50ACC655f4dd78360888A83e&startblock=0&endblock=99999999&page=1&offset=infinite&sort=desc&apikey=YourApiKeyToken").then(
      res => {
        res.json().then(
          data => {
            console.log(data);

            data = data.result;
            if (data.length > 0) {
              var temp = "";


              data.forEach((u, index) => {
                let i = index + 1;
                temp += "<tr>";
                temp += "<td>" + i + "</td>";
                // temp +="<td>"+u.sr=0 ;for(let i=0;i<=100;i++){sr=i}+"</td>";
                temp += "<td>" + u.hash + "</td>";
                temp += "<td id='userAcc'>" + u.from + "</td>";
                temp += "<td>" + u.to + "</td>";
                // temp += "<td>" + u.gasPrice + "</td>";
                temp += "<td id='bidValue'>" + u.value / 10 ** 18 + "</td>";
                // temp += "<td>" + "<button class='btn' onClick='BuyEth()'>Enable Ethereum</button>" + "</td>";                temp += "</tr>";
              })

              document.getElementById("data").innerHTML = temp;
            }
          }

        )
      }
    )
  </script>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
  <script>
$(document).ready( function () {
  $('.table').DataTable();
} );
</script>