<%- include('company-header') -%>


   <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-lock-reset"></i>
        </span> Change Password </h3>
    </div>
    <div>
      <%if(error!=null){%>
        <div><%=error%></div>
        <%}%>
    </div>
    <div>
      <%if(success!=null){%>
        <div><%=success%></div>
        <%}%>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
           <div class="card-body">
             <div class="row">
               <div class="col-md-12 m-auto">
                 <div>
                   <form method="POST" action="/changePassword_Company">
                   <div class="profile-form">
                    <div class="row">
                        <div class="col-md-4">
                           <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" name="old_pass" class="form-control" placeholder="Enter Old Password" required>
                          </div>
                        </div>
                         <div class="col-md-4">
                          <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="new_pass" class="form-control" placeholder="Enter New Password" required>
                          </div>
                        </div>
                        <div class="col-md-4">
                         <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="cnf_pass" class="form-control" placeholder="Enter Confirm Password" required>
                          </div>
                        </div>
                      </div>
                    
                      
                      
                      <div class="popup-btn text-center">
                        <input type="submit" href="" class="btn btn-common bg-gradient-primary">
                        <a href="" class="btn btn-common bg-gradient-primary">Cancel</a>
                      </div>
                   </div>
                 </div>
                </form>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
    


    <%- include('footer') -%>